<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sweet and Savory Treats Explorer</title>
  <script src="https://kit.fontawesome.com/1367be5149.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  @await Html.PartialAsync("Header")
  @RenderBody()
  @await Html.PartialAsync("Footer")
</body>

</html>
