<header>
  <p>@Html.ActionLink("Sweet and Savory Explorer", "Index", "Home")</p>
  <p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
  <p>@Html.ActionLink("Treats", "Index", "Treats")</p>
</header>
