* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0d1b2a;
  font-family: 'Nunito', sans-serif;
}

body {
  /* padding: 1rem; */
  min-height: 90vh;
  background-color: #e0e1dd;
}

header,
main,
section,
footer {
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  font-size: 0.8rem;
}

header > p,
footer > p {
  margin-right: 1rem;
  font-size: 1.2rem;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.brand-name {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: #415a77;
}
a:hover {
  color: #1b263b;
}
a:active {
  color: #0d1b2a;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  form {
    width: 40%;
  }
}

label {
  margin-top: 0.5rem;
}

input[type='submit'] {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100px;
}

ul {
  padding-left: 1rem;
}

.alert-accent {
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
