@{
  Layout = "_Layout";
}

@using System.Security.Claims;
@using SweetAndSavoryExplorer.Models;

<section>
  <h1>Welcome to the Sweet and Savory Explorer</h1>
</section>
<main>
  <h2>Current Product Lineup</h2>
  <h3>Flavors</h3>
  <ul>
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
      <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new {id =
      flavor.FlavorId})
      </li>
    }
  </ul>
  <h3>Treats</h3>
  <ul>
    @foreach (Treat treat in ViewBag.Treats)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new {id =
      treat.TreatId})
      </li>
    }
  </ul>
</main>
