@{
  Layout = "_Layout";
}

@model SweetAndSavoryExplorer.Models.Flavor
<h1>Delete Flavor</h1>
<main>
  <h2>Are you sure you want to delete this flavor? This action cannot be undone.
  </h2>
  <p>Flavor to delete: @Html.DisplayFor(model => model.Name)</p>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
</main>
@Html.ActionLink("Back to flavor List", "Index")